.InfoBox{
    flex: 1;
    margin-top:40px;
    margin-bottom: 40px;
}

.InfoBox:not(:last-child){
    margin-right: 70px;
}

.InfoBox:first-child{
  background-color: rgb(248, 156, 156);
  color: white;
}

.InfoBox:nth-child(2)
{
  background-color: rgb(184, 250, 195);
}
.InfoBox:last-child{
  background-color: #e97878;
  color: white;
}


.InfoBox--selected {
  border-top: 10px solid greenyellow;
}

.infoBox--red {
  border-color: red;
}

.InfoBox__cases--green {
  color: lightgreen !important;
}
.infoBox_title{
    display: flex;
    justify-content:space-between;
}
.infoBox_total{
    display: flex;
    justify-content:space-between;
}
.title{
    color:rgb(0, 0, 0)
}